<tr>
  <td> <%= calculation.bodyWeight %> </td>
  <td> <%= calculation.bodyLength %> </td>
  <% if(calculation.jobStatus.equal?(true)) %>
      <td>
        <%= link_to CalculationRunner.calculation_output_results_path(calculation).to_s do %>
          <span class="glyphicon glyphicon-download-alt"></span>
        <% end %>
        <%= link_to calculation do %>
            <span class="glyphicon glyphicon-eye-open"></span>
        <% end %>
        <%= link_to calculation, method: :delete do %>
            <span class="glyphicon glyphicon-remove"></span>
        <% end %>
      </td>
  <% else %>
      <td>
        <i class="fa fa-gear fa-spin" style="font-size:24px;"></i>
        <%= link_to kill_calculation_process_calculation_path(calculation) do %>
          <span class="glyphicon glyphicon-remove"></span>
        <% end %>
      </td>
<% end %>
</tr>