<head>
  <!--Load the AJAX API-->
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <script type="text/javascript">

    // Load the Visualization API and the corechart package.
    google.charts.load('current', {'packages':['corechart']});

    // Set a callback to run when the Google Visualization API is loaded.
    google.charts.setOnLoadCallback(drawChart);

    // Callback that creates and populates a data table,
    // instantiates the pie chart, passes in the data and
    // draws it.
    function drawChart() {

      // Create the data table.
      var data = new google.visualization.DataTable();
      data.addColumn('string', 'Topping');
      data.addColumn('number', 'Slices');
      data.addRows([
        ['Mushrooms', 3],
        ['Onions', 1],
        ['Olives', 1],
        ['Zucchini', 1],
        ['Pepperoni', 2]
      ]);

      // Set chart options
      var options = {'title':'How Much Pizza I Ate Last Night',
        'width':400,
        'height':300};

      // Instantiate and draw our chart, passing in some options.
      var chart = new google.visualization.PieChart(document.getElementById('chart_div'));
      chart.draw(data, options);
    }
  </script>
</head>
<div class="row center">
  <%= link_to image_tag(CalculationRunner.calculation_output_image_path(@calculation)), show_original_image_calculation_path(@calculation.id) %>

  <div class="container">
    <div class="jumbotron center">
      <div class="row">
        <div class="col-md-12 col-centered">
          <table class="table table-hover table-calculation-results">

            <thead>
              <tr>
                <td class="table-calculation-results-first-col">Parameter</td>
                <td> Eyes open - 0.5 degrees </td>
                <td> Eyes open – 1.0 degrees </td>
                <td> Eyes closed – 0.5 degrees </td>
                <td> Eyes closed – 1.0 degrees </td>
              </tr>
            </thead>

            <tbody>
              <% @calculation.attributes.each do |attr_name, attr_val| %>
                <% if attr_val.class.to_s == "Array" %>
                    <tr>
                      <td class="table-calculation-results-first-col"> <%= attr_name.to_s.gsub("_", " ").capitalize %> </td>
                      <td> <%= attr_val[0] %> </td>
                      <td> <%= attr_val[1] %> </td>
                      <td> <%= attr_val[2] %> </td>
                      <td> <%= attr_val[3] %> </td>
                    </tr>
                <% end %>
              <% end %>
            </tbody>

          </table>
        </div>
        <div id="char_div"></div>
      </div>
    </div>
  </div>
</div>




