<div class="container">
  <div class="center jumbotron">
    <%= provide(:title, "Log in") %>
    <div class="row">
      <div class="col-md-3 col-centered">
        <h2> Log in </h2>
        <%= form_for(:session, url: login_path) do |f| %>

            <%= f.label :email %>
            <%= f.email_field :email, class: 'form-control' %>

            <%= f.label :password %>
            <%= f.password_field :password, class: 'form-control' %>

            <%= f.submit "Log in", class: 'btn btn-success' %>

        <% end %>
      </div>
    </div>
  </div>
</div>
