<%= provide(:title, 'Update account') %>
<%= provide(:btn_title, 'Update account') %>
<div class="row user-info">
  <div class="col-md-3 col-md-offset-4">
    <%= render 'users/form' %>
  </div>
</div>