<%= provide(:btn_title, "Create account") %>
<%= provide(:title, "Create account") %>
<div class="container">
  <div class="jumbotron center">
    <h3> Sign up </h3>
    <div class="row">
      <div class="col-md-6 col-centered">
        <%= render 'form' %>
      </div>
    </div>
  </div>
</div>

