<div class="row">
  <div class="col-md-6 col-centered">
    <section class="user-info">
      <h1>
        <%= gravatar_for @user %>
        <%= "#{@user.name} | #{@user.email}"  %>
      </h1>
    </section>
  </div>
</div>
