<% if object.errors.present? %>
    <div class="alert alert-danger">
      The form contains <%=  pluralize(object.errors.count, 'error') %>
    </div>
    <% object.errors.full_messages.each do |msg| %>
      <ul>
        <li> <%= msg %> </li>
      </ul>
    <% end %>
<% end %>