  <%= form_for(@calculation, html: { multipart: true }) do |f| %>

      <%= render 'shared/error_messages', object: f.object %>

      <%= f.label       'Body weight' %>
      <%= f.text_field  :bodyWeight, class: 'form-control' %>

      <%= f.label       'Body Length' %>
      <%= f.text_field  :bodyLength, class: 'form-control' %>

      <%= f.file_field :inputFile %>

      <%= f.submit 'Start', class: 'btn btn-success' %>

  <% end %>
