<head>
</head>
<%= provide(:title, "Home") %>
<div class="container">
  <div class="center jumbotron">
    <% if is_logged_in? %>
        <div class="row">
          <div class="col-md-3 col-centered">
            <h3> Balance Control Tool </h3>
              <%= render 'shared/form_calculations' %>
          </div>
        </div>
        <table class="table table-hover">

          <thead>
            <tr>
              <th>Body Weight</th>
              <th>Body Length</th>
              <th>Calculation</th>
            </tr>
          </thead>

          <tbody>
            <%= render @calculations %>
          </tbody>

        </table>
    <% else %>
      <h3> Balance Control Tool </h3>
      <%= link_to "Sign up", signup_path, class: "btn btn-success"%>
    <% end %>
  </div>
</div>
