/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
  */

@import "bootstrap-sprockets";
@import "bootstrap";

body {
  background-color : #484848;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

h2, h3 {
  padding-bottom: 20px;
}

.table {
  padding-top: 100px;
}

th {text-align:center}

.col-centered{
  float: none;
  margin: 0 auto;
}

.user-info {
  color: floralwhite;
}


.center {
  text-align: center;
  display: block;
  margin: 0 auto;
  margin-top: 50px;
}

.btn-success {
  margin-bottom: 50px;
}

.navbar-right{
  padding-right: 200px;
}

.table-calculation-results-first-col
{
  text-align: left;
}

.glyphicon, .fa
{
  color: rgba(57, 57, 57, 0.98);
}
@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

input{
  width: 100%;
  margin-bottom: 15px;

}

/* miscellaneous */
.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}
