<nav class="navbar navbar-inverse navbar-static-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="<%= root_path %>"> EMBalance </a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="<%= root_path %>">Home</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <% if is_logged_in? %>
          <li class="dropdown">
            <a class = "dropdown-toggle" data-toggle="dropdown" href="#"> <span class="caret"></span> Account </a>
            <ul class="dropdown-menu">
              <li> <%= link_to 'Profile', user_path(current_user) %> </li>
              <li> <%= link_to 'Settings', edit_user_path(current_user) %> </li>
              <li class='divider'></li>
              <li> <%= link_to 'Log out', logout_path, method: 'delete' %> </li>
            </ul>
          </li>
      <% else %>
        <li><a href="<%= signup_path %>"><span class="glyphicon glyphicon-user"></span>Sign up</a></li>
        <li><a href="<%= login_path %>"> <span class="glyphicon glyphicon-log-in"></span>Log in</a></li>
    <% end %>
    </ul>
  </div>
</nav>